* {
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
}
.navbar-right li a {
    color: #ff5a5f;
    transition: all .2s ease;
    line-height: 30px;
    margin-right: 5px;
    font-family: 'Bellefair', serif;
    font-size: 1.3em;
}
.navbar-right li a:hover {
    text-decoration: underline;
    background: none;
    font-size: 1.5em;
}
.jumbotron h2 {
    color: #ff5a5f;
    font-size: 4em;
}
.jumbotron p {
    font-size: 3em;
    letter-spacing: 2px;
    line-height: 1.2em;
}
.search {
    border: 1px solid lightgray;
    width: 90%;
    margin-left: 50px;
    padding: 10px;
    margin-bottom: 70px;
    box-shadow: 1px 1px 10px gray;
}
.search-content1, .search-content2 {
    border-right: 1px solid lightgray;
}
.search p {
    font-size: 1.5em;
    color: #484848;
    font-family: 'Bellefair', serif;
}
.search input {
    border: none;
    font-size: 1.2em;
}
.search button {
    font-size: 1.2em;
    background-color: #ff5a5f;
}

.nav-tabs {
    margin-left: 50px;
    height: 45px;
}
.nav-tabs li a {
    color: #ff5a5f;
}
.gallery {
    margin-top: 50px;
    width: 90%;
    height: 300px;
    margin-left: 50px;
}
.gallery img {
    height: 300px;
    border: none;
}